[Unit]
Description=Setup Flathub and user flatpaks
After=network-online.target default.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hyprland-image/flatpak-setup
TimeoutStartSec=1800

[Install]
WantedBy=default.target
