[Unit]
Description=Extract the seeded Nix store into /var/nix on first boot
DefaultDependencies=no
Before=nix-daemon.socket determinate-nixd.socket determinate-nix-init.service
ConditionPathExists=/usr/share/nix-store-seed.tar.zst
ConditionPathExists=!/var/nix/store

[Service]
Type=oneshot
ExecStart=/usr/bin/tar --zstd -C /var -xf /usr/share/nix-store-seed.tar.zst

[Install]
WantedBy=multi-user.target
